{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Editar ' ~ sala.nombre %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('gestor_sala_listar') }}" class="btn btn-sm btn-danger"><span
                            data-feather="arrow-left-circle"></span> Cancelar y volver</a>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="col-md-8 order-md-1">
        <form class="form" action="{{ path('gestor_sala_grabar') }}" method="post">
            <input type="hidden" name="id" value="{{ sala.id }}">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" name="nombre" type="text" value="{{ sala.nombre }}">
            </div>

            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input class="form-control" name="direccion" type="text" value="{{ sala.direccion }}">
            </div>

            <div class="form-group">
                <label for="provincia_id">Provincia</label>
                <select class="form-control" name="provincia_id">
                    {% for provincia in provincias %}
                        <option value="{{ provincia.id }}"
                                {% if sala.provincia.id == provincia.id %}selected{% endif %}>{{ provincia.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input class="form-control" name="localidad" type="text" value="{{ sala.localidad }}">
            </div>

            <div class="form-group">
                <label for="mapa_url">URL Mapa</label>
                <input class="form-control" name="mapa_url" type="url" value="{{ sala.mapaUrl }}">
            </div>

            <div class="form-group">
                <label for="aforo">Aforo</label>
                <input class="form-control" name="aforo" type="number" value="{{ sala.aforo }}" max="1000" min="0">
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar Cambios</button>
        </form>
    </div>
{% endblock %}


