{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Listado de Aulas' %}


{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a  href="{{ path('gestor_sala_crear') }}" class="btn btn-sm btn-primary"><span
                                data-feather="plus-circle"></span> Crear Aula</a>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Mapa</th>
                <th>Aforo</th>
            </tr>
            </thead>
            <tbody>
            {% for sala in salas %}
                <tr>
                    <td><a class="badge badge-primary" href="{{ path('gestor_sala_editar', {'id': sala.id}) }}" >{{ sala.id }}</a></td>
                    <td>{{ sala.nombre }}</td>
                    <td>{{ sala.provincia.nombre }}</td>
                    <td>{% if sala.mapaUrl %}<a href ="{{ sala.mapaUrl }}"><span data-feather="map-pin"></span></a>{% endif %}</td>
                    <td>{{ sala.aforo }}</td>
                    <td><a href="{{ path('gestor_sala_borrar', {'id': sala.id}) }}"><span data-feather="trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
