{% extends "usuario/layout_base.html.twig" %}
{% set titulo = "Grupos" ~ cursos[0].nombre %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Módulo</th>
                <th>Fechas</th>
                <th>Turno</th>
                <th>Plazas</th>
                <th>Lugar</th>
                <th>Provincia</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.modulo }}</td>
                    <td>{{ curso.fechas }}</td>
                    <td>{{ curso.turno }}</td>
                    <td>{% if (curso.plazas - curso.inscripciones|length) < 1 %}Completo{% else %}{{ curso.plazas - curso.inscripciones|length }}{% endif %}</td>
                    <td><a href="{{ curso.sala.mapaUrl }}" title="{{ curso.sala.direccion }} {{ curso.sala.localidad }}" >{{ curso.sala.nombre }}</a></td>
                    <td>{{ curso.sala.provincia.nombre }}</td>
                    <td><a href="{{ path('usuario_inscripcion_solicitar', {'id': curso.id, 'estado_id': 1}) }}"><span data-feather="user-check"> Inscríbeme</span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
