{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Crear nuevo curso' %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('gestor_curso_listar') }}" class="btn btn-sm btn-danger"><span
                            data-feather="arrow-left-circle"></span> Cancelar y volver</a>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="col-md-8 order-md-1">
        <form class="form" action="{{ path('gestor_curso_grabar') }}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" name="nombre" type="text" required >
            </div>

            <div class="form-group">
                <label for="sala_id">Lugar</label>
                <select class="form-control" name="sala_id">
                    {% for sala in salas %}
                        <option value="{{ sala.id }}">{{ sala.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="horas">Duración (horas)</label>
                <input class="form-control" name="horas" type="number" required max="100" min="0">
            </div>

            <div class="form-group">
                <label for="plazas">Plazas</label>
                <input class="form-control" name="plazas" type="number" required max="1000" min="0">
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Grabar Curso</button>

        </form>
    </div>
{% endblock %}


