{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Editar curso '~curso.id %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('gestor_curso_listar') }}" class="btn btn-sm btn-danger"><span
                            data-feather="arrow-left-circle"></span> Cancelar</a>
            </div>
        </div>
    </div>
    <div class="col-md-8 order-md-1">
        <form class="form" action="{{ path('gestor_curso_grabar') }}" method="post">
            <input type="hidden" name="id" value="{{ curso.id }}">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" name="nombre" type="text" value="{{ curso.nombre }}" required >
            </div>
            <div class="form-group">
                <label for="codigo">C贸digo</label>
                <input class="form-control" name="codigo" type="text" value="{{ curso.codigo }}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripci贸n</label>
                <textarea class="form-control" name="descripcion">{{ curso.descripcion }}</textarea>
            </div>
            <div class="form-group">
                <label for="modulo">Modulo</label>
                <input class="form-control" name="modulo" type="text" value="{{ curso.modulo }}" required >
            </div>
            <div class="form-group">
                <label for="sala_id">Lugar</label>
                <select class="form-control" name="sala_id">
                    <option value="">Elige el lugar de impartaci贸n del curso</option>
                    {% for sala in salas %}
                        <option value="{{ sala.id }}"
                                {% if curso.sala.id == sala.id %}selected{% endif %}>{{ sala.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fechas">Fechas</label>
                <input class="form-control" name="fechas" type="text" value="{{ curso.fechas }}" required >
            </div>
            <div class="form-group">
                <label for="turno">Turno</label>
                <input class="form-control" name="turno" type="text" value="{{ curso.turno }}" required >
            </div>
            <div class="form-group">
                <label for="horas">Duraci贸n (horas)</label>
                <input class="form-control" name="horas" type="number" value="{{ curso.horas }}" required
                       max="100" min="0">
            </div>
            <div class="form-group">
                <label for="plazas">Plazas</label>
                <input class="form-control" name="plazas" type="number" value="{{ curso.plazas }}" required
                       max="1000" min="0">
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Grabar Curso">
        </form>
    </div>
{% endblock %}
