{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Listado de Cursos' %}


{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('gestor_curso_crear') }}" class="btn btn-sm btn-primary"><span
                                data-feather="plus-circle"></span> Crear Curso</a>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Plazas</th>
                <th>Inscritos</th>
                <th>Duración</th>
                <th>Lugar</th>
            </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    <td><a class="badge badge-primary" href="{{ path('gestor_curso_mostrar', {'id': curso.id}) }}" >{{ curso.id }}</a></td>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.plazas }}</td>
                    <td></td>
                    <td>{{ curso.horas }}h</td>
                    <td>{{ curso.sala.provincia.nombre }}</td>
                    <td><a href="{{ path('gestor_curso_borrar', {'id': curso.id}) }}"><span data-feather="trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
