{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = curso.nombre %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary"><a
                            href="{{ path('gestor_curso_editar', {'id': curso.id}) }}"><span
                                data-feather="plus-circle"></span> Editar curso</a></button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="table-dark">
        <table class="table">
            <thead>
            <tr>
                <th><span data-feather="map-pin"></span> Aula</th>
                <th><span data-feather="monitor"></span> Plazas</th>
                <th><span data-feather="user-check"></span> Inscritos</th>
                <th><span data-feather="users"></span> En espera</th>
                <th><span data-feather="clock"></span> Duraci贸n</th>
                <th><span data-feather="calendar"></span> Sesiones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ curso.sala.nombre }}</td>
                <td>{{ curso.plazas }}</td>
                <td>{{ curso.inscripciones|length }}</td>
                <td>{{ curso.inscripciones|length }}</td>
                <td>{{ curso.horas }}</td>
                <td>{{ curso.sesiones|length }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-tabs" id="tabsCurso" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="inscripciones-tab" data-toggle="tab" href="#inscripciones" role="tab" aria-controls="inscripciones" aria-selected="false">Inscripciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lista-espera-tab" data-toggle="tab" href="#lista-espera" role="tab" aria-controls="lista-espera" aria-selected="true">Lista de espera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sesiones-tab" data-toggle="tab" href="#sesiones" role="tab" aria-controls="sesiones" aria-selected="true">Sesiones</a>
        </li>
    </ul>
    <div class="tab-content" id="tabsCursoContenido">
        <div class="tab-pane fade show active" id="inscripciones" role="tabpanel" aria-labelledby="tab-inscripciones">
            <div class="table-responsive mt-4">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if curso.inscripciones is empty %}
                        <tr><td colspan="6">No se han recibido inscripciones para este curso</td></tr>
                    {% else %}
                        {% for inscripcion in curso.inscripciones %}
                            <tr>
                                <td>{{ inscripcion.id }}</td>
                                <td>{{ inscripcion.persona.nombre }}</td>
                                <td>{{ inscripcion.persona.apellidos }}</td>
                                <td>{{ inscripcion.persona.correo }}</td>
                                <td>{{ inscripcion.fechaAlta|date('d/m/Y H:i') }}</td>
                                {#<td>{{ inscripcion.estado.descripcion }}</td>#}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="lista-espera" role="tabpanel" aria-labelledby="tab-lista-espera">
            <div class="table-responsive mt-4">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if curso.inscripciones is empty %}
                        <tr><td colspan="6">No se han recibido inscripciones para este curso</td></tr>
                    {% else %}
                        {% for inscripcion in curso.inscripciones %}
                            <tr>
                                <td>{{ inscripcion.id }}</td>
                                <td>{{ inscripcion.persona.nombre }}</td>
                                <td>{{ inscripcion.persona.apellidos }}</td>
                                <td>{{ inscripcion.persona.correo }}</td>
                                <td>{{ inscripcion.fechaAlta|date('d/m/Y H:i') }}</td>
                                {#<td>{{ inscripcion.estado.descripcion }}</td>#}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="sesiones" role="tabpanel" aria-labelledby="tab-sesiones">
            <div class="table-responsive mt-4">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora inicio</th>
                        <th>Duraci贸n</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sesion in curso.sesiones %}
                        <tr>
                            <td><a class="badge badge-primary"
                                   href="{{ path('gestor_sesion_editar', {'id': sesion.id}) }}">{{ sesion.id }}</a></td>
                            <td>{{ sesion.fechaInicio|date('d/m/Y') }}</td>
                            <td>{{ sesion.fechaInicio|date('H:i') }}</td>
                            <td>{{ sesion.duracion|date('H:i') }}</td>
                            <td><a href="{{ path('gestor_sesion_borrar', {'id': curso.id}) }}"><span
                                            data-feather="trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <form class="form" action="{{ path('gestor_sesion_grabar') }}" method="post">
                    <input type="hidden" name="curso_id" value="{{ curso.id }}">
                    <div class="form-row">
                        <div class="form-group offset-1 col-md-5">
                            <label for="fecha_inicio">Fecha y hora inicio</label>
                            <input class="form-control" name="fecha_inicio" type="datetime-local">
                        </div>
                        <div class="form-group offset-1 col-md-2">
                            <label for="duracion">Duraci贸n</label>
                            <input class="form-control" name="duracion" type="time">
                        </div>
                        <div class="form-group offset-1 col-md-2">
                            <label>&nbsp;</label>
                            <button class="form-control btn btn-primary" type="submit">Agregar Sesi贸n</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
